<% wrap_layout :layout do %>
  <%= yield_content :top %>

  <% page_articles.each_with_index do |article, idx| %>
    <div class="article-preview <%= idx == 0 ? '' : 'mt-8' %> pb-8 border-b">
      <h1 class="title hover:underline leading-1"><%= link_to article.title, article %></h1>
      <div class="date mt-3"><%= article.date.strftime('%b %e, %Y') %></div>

      <div class="text">
        <%= article.summary %>
      </div>

      <div class="continue">
        <%= link_to "Continue reading ≫", article %>
      </div>
    </div>
  <% end %>

  <% if paginate %>
    <% if next_page %>
      <p class="my-6 text-right font-bold text-sm"><%= link_to 'Next page →', next_page %></p>
    <% end %>
  <% end %>

  <div class="mt-12 text-center font-bold"><%= link_to "Blog Archive", "/blog" %></div>
<% end %>
