<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <meta name="description" content="Jonathan Lin Ern Sheong's Personal Website">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Jonathan ES Lin" %></title>
    <meta property="og:title" content="<%= current_page.data.title || 'Jonathan ES Lin' %>" />
    <% if current_page.data.description.present? %>
      <meta property="og:description" content="<%= current_page.data.description %>" />
    <% end %>
    <% if current_page.data.image.present? %>
      <meta property="og:image" content="https://jonlinblog.com<%= current_page.data.image %>" />
      <meta name="twitter:card" content="summary_large_image"></meta>
    <% end %>
    <meta property="og:url" content="https://jonlinblog.com<%= current_page.url %>" />

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/images/favicon.png" >

    <!-- Font Awesome via CDN -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400italic,600,400' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "all" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.8.10/tailwind.min.css" integrity="sha512-KO1h5ynYuqsFuEicc7DmOQc+S9m2xiCKYlC3zcZCSEw0RGDsxcMnppRaMZnb0DdzTDPaW22ID/gAGCZ9i+RT/w==" crossorigin="anonymous" />
    <%= javascript_include_tag  "all" %>
  </head>

  <body class="<%= page_classes %>">
    <%= partial :header %>

    <div class="container mx-auto px-6 sm:px-12 md:px-16 lg:px-32">
      <div class="uk-container uk-container-center">
        <div class="mt-12 mb-6">
          <%= yield %>

          <%= partial :footer %>
        </div>
      </div>
    </div>
  </body>

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-49702772-1"></script>
  <script>
    if (window.location.href.indexOf("jonlinblog.com") > 0) {
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-49702772-1');
    }
  </script>
</html>
