---
title: Archive | Jon ES Lin
---

<div class="archive-page">
  <h1 class="title mb-4">Blog Archive</h1>
  <% blog.articles.group_by {|a| a.date.year }.each do |year, year_articles| %>
    <!-- Year -->
    <h2 class="year"><%= year %></h2>

    <% year_articles.group_by {|a| a.date.month }.each do |month, month_articles| %>
      <!-- Month -->
      <h3 class="month my-4"><%= month_articles.first.date.strftime("%B") %></h3>

      <!-- Month Article List -->
      <div class="month-article-list my-6">
        <% month_articles.each do |month_article| %>
          <div class="my-3 flex">
            <div class="mr-4 w-16 text-left w-1/5">
              <span class="day"><%= month_article.date.strftime("%-d") %></span>
            </div>
            <div class="w-4/5">
              <a href="<%= month_article.url %>"><%= month_article.title %></a>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
