---
title: Portfolio | Jon ES Lin
---

<h1>Portfolio</h1>

<h2>Mobile Apps</h2>

<% data.mobile_apps.each do |app| %>
  <!-- App row -->
  <div class="uk-grid project">
    <div class="uk-width-medium-2-10 uk-width-3-10 icon">
      <img src="<%= app.image %>" width="100px;"/>
    </div>
    <div class="uk-width-medium-8-10 uk-width-7-10">
      <div class="title"><%= app.title %></div>
      <div class="description"><%= app.description %></div>
      <% if app.android %>
        <button class="uk-button download-button" type="button"><a href="<%= app.android %>">Android</a></button>
      <% end %>
      <% if app.ios %>
        <button class="uk-button download-button" type="button"><a href="<%= app.ios %>">iOS</a></button>
      <% end %>
      <% if app.blackberry %>
        <button class="uk-button download-button" type="button"><a href="<%= app.blackberry %>">BlackBerry</a></button>
      <% end %>
    </div>
  </div>
<% end %>

<h2>Web Apps</h2>
<div class="project section">
  <div class="title"><%= link_to 'Guru&', 'https://www.guruand.com', target: '_blank' %></div>
  <div class="description">An online marketplace for private tutors in Malaysia. Features include a booking workflow, tutor-parent messaging, SMS updates. Built with Ruby on Rails.</div>
</div>

<div class="project section">
  <div class="title"><%= link_to 'JobEquation', 'http://www.jobequation.com', target: '_blank' %></div>
  <div class="description">A job website for job seekers to get spotted by employers. A Rails project.</div>
</div>

<div class="project section">
  <div class="title"><%= link_to 'Otak-Otak', 'http://www.otak2.com', target: '_blank' %> Internship Program CRM</div>
  <div class="description">A customized Rails app to manage Otak-Otak internship program applicants. Features include invoice and client tracking, applicant filtering, emailing, etc.</div>
</div>

<h2>Projects</h2>
<div class="project section">
  <div class="title"><%= link_to "isms-ruby gem", "https://github.com/ernsheong/isms-ruby", target: '_blank'%></div>
  <div class="description">A Ruby wrapper for the iSMS (Malaysia) API.</div>
</div>

<div class="project section">
  <div class="title"><%= link_to "moolah-ruby gem", "https://github.com/coingecko/moolah-ruby", target: '_blank' %></div>
  <div class="description">A Ruby wrapper for the Moolah.io Transaction API. </div>
</div>
