---
title: Portfolio | Jon ES Lin
---

<h1>Portfolio</h1>

<h2>Mobile Apps</h2>

<% data.mobile_apps.each do |app| %>
  <!-- App row -->
  <div class="uk-grid app">
    <div class="uk-width-medium-2-10 uk-width-3-10 icon">
      <img src="<%= app.image %>" width="100px;"/>
    </div>
    <div class="uk-width-medium-8-10 uk-width-7-10">
      <div class="title"><%= app.title %></div>
      <div class="description"><%= app.description %></div>
      <% if app.android %>
        <button class="uk-button download-button" type="button"><a href="<%= app.android %>">Android</a></button>
      <% end %>
      <% if app.ios %>
        <button class="uk-button download-button" type="button"><a href="<%= app.ios %>">iOS</a></button>
      <% end %>
      <% if app.blackberry %>
        <button class="uk-button download-button" type="button"><a href="<%= app.blackberry %>">BlackBerry</a></button>
      <% end %>
    </div>
  </div>
<% end %>

<h2>Web Apps</h2>
<div class="app web-app">
  <div class="title">Otak-Otak Internship Program CRM</div>
  <div class="description">A customized Rails app to manage <a href="http://www.otak2.com">Otak-Otak</a> internship program applicants. Features include invoice and client tracking, applicant filtering, emailing, etc.</div>
</div>
