---
title: Portfolio | Jon ES Lin
---

<h1>Portfolio</h1>

<h2>Web Apps</h2>
<div class="project section">
  <div class="title"><%= link_to 'FindNews.my', 'https://findnews.my', target: '_blank' %></div>
  <div class="description">News aggregator for Malaysia.</div>
</div>

<div class="project section">
  <div class="title"><%= link_to 'FindJob.my', 'https://findjob.my', target: '_blank' %></div>
  <div class="description">Job aggregator for Malaysia.</div>
</div>

<div class="project section">
  <div class="title"><%= link_to 'FindTutor.my', 'https://findtutor.my', target: '_blank' %></div>
  <div class="description">Private tutor matching for Malaysia.</div>
</div>

<div class="project section">
  <div class="title"><%= link_to 'Platformattic, Digital Transformation Suite', 'https://www.platformattic.com', target: '_blank' %></div>
  <div class="description">(retired) Suite of software tools for digital transformation.</div>
</div>

<div class="project section">
  <div class="title"><%= link_to 'PageDash, Your Digital Web Scrapbook', 'https://www.pagedash.com', target: '_blank' %></div>
  <div class="description">(retired) Bookmarking, with the content. Save web pages with just one click!</div>
</div>

<div class="project section">
  <div class="title"><%= link_to 'The Malaysian Pulse, Beat of the Nation', 'https://themalaysianpulse.com', target: '_blank' %></div>
  <div class="description">(retired) Malaysian News Aggregator.</div>
</div>

<div class="project section">
  <div class="title"><%= link_to 'Bumbung.co', 'https://bumbung.co', target: '_blank' %></div>
  <div class="description">(client project) Premium Malaysian property listings.</div>
</div>

<div class="project section">
  <div class="title"><%= link_to 'The Coin Parrot', 'https://thecoinparrot.com', target: '_blank' %></div>
  <div class="description">(retired) Coin News Worth Repeating.</div>
</div>

<div class="project section">
  <div class="title"><%= link_to 'Guru&', 'https://www.guruand.com', target: '_blank' %></div>
  <div class="description">(client project, retired) An online marketplace for private tutors in Malaysia. Features include a booking workflow, tutor-parent messaging, SMS updates. A Rails project.</div>
</div>

<div class="project section">
  <div class="title"><%= link_to 'JobEquation', 'http://www.jobequation.com', target: '_blank' %></div>
  <div class="description">(client project, retired) A job website for job seekers to get spotted by employers. A Rails project.</div>
</div>

<div class="project section">
  <div class="title"><%= link_to 'Otak-Otak', 'http://www.otak2.com', target: '_blank' %> Internship Program CRM</div>
  <div class="description">(client project, retired) A customized Rails app to manage Otak-Otak internship program applicants. Features include invoice and client tracking, applicant filtering, emailing, etc.</div>
</div>

<h2>Mobile Apps</h2>

<% data.mobile_apps.each do |app| %>
  <!-- App row -->
  <div class="flex project items-center">
    <div class="mr-4 icon w-1/5">
      <img src="<%= app.image %>" width="80px;"/>
    </div>
    <div class="w-4/5">
      <div class="title"><%= app.title %></div>
      <div class="description">(retired) <%= app.description %></div>
    </div>
  </div>
<% end %>

<h2>Open Source</h2>

<div class="project section">
  <div class="description"><a target="_blank" href="https://github.com/ernsheong">Github</a></div>
  <div class="description"><a target="_blank" href="https://stackoverflow.com/users/1161743/jonathan-lin">Stack Overflow</a></div>
</div>